{
  "extends": "airbnb-base",
  "plugins": [
    "import",
    "prettier"
  ],
  "rules": {
    "arrow-body-style": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "no-use-before-define": ["error", {"functions": false}],
    "prettier/prettier": ["warn", {"singleQuote": true}],
    "strict": ["off"]
  },
  "env": {
    "mocha": true
  }
}